@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
    padding: 0; margin: 0;
    font-family: 'Ubuntu', sans-serif;
    min-width: 540px;
    min-height: 340px;
    padding-top: 50px;
    background-color: #E0E2E2;
    background-color: white;
}

a {
    font-family: Ubuntu, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

a:link {
    color:#4f9fcf;
}

a:visited {
    color:#4f9fcf;
}

.nav-bar {
    display: block;
    position: fixed;
    top: 0; right: 0; left: 0;
    background-color: black;
    width: 100%;
    height: 50px;
    line-height: 50px;
    z-index: 200;
}

.nav-bar a.link-profile img {
    width: 48px;
    height: 48px;
    border-radius: 50px 50px 50px 50px;
    border: solid 1px #aaa;
    float: left;
}

.nav-bar label {
    color: #ddd;
    font-size: 18px;
    margin-left: 10px;
}

.nav-bar label:hover {
    cursor: pointer;
}

.nav-bar a.link-home img {
    width: 24px;
    height: 24px;
    float: right;
    margin-top: 12px;
    margin-right: 10px;
}

.nav-bar a.link-likes img {
    width: 24px;
    height: 24px;
    float: right;
    margin-top: 12px;
    margin-right: 10px;
}

.nav-bar div.search-query {
    /* border: solid 1px green; */
    float: right;
    display: -webkit-box;
    -webkit-box-orient: vertical;

    margin-right: 5px;
}

.nav-bar div.search-query input{
    width: 14em;
    border: 0;
    outline: none;
    background-color: black;
    border-bottom: 1px solid #ccc;
    color: #ddd;
    font-size: 12px;
    background: url("/pages/img/search.png") center left no-repeat;
    background-size: 12px 12px;
    padding-left: 14px;
    margin-top: 18px;
    display: block;
}

.nav-bar input.search-query::-webkit-input-placeholder { /* WebKit browsers */
    opacity: 0.5;
}

.nav-bar div.search-query div.search-results {
    max-height: 200px;
    overflow-y: auto;
}

.nav-bar div.search-query div.search-results div.query-result{
    display: block;
    background-color: black;
    border-bottom: solid 1px #ccc;
    height: 30px;
    padding: 0; margin: 0;
    line-height: 30px;
}

div.query-result a {
    margin-left: 0.4em;
    font-weight: normal;
    font-size: 14px;
}

div.query-result.search-hashtag a, div.query-result.search-user a {
    margin-left: 1.4em;
}

a.hashtag {
    font-weight: normal;
}

label.error {
    color: red;
    padding-top: 10px;
}

.my-nav {
    float: left;
    min-width: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    right: 0;
    top: 50px;
    opacity: 0.7;
    z-index: 300;
}

div.load-more {
    width: 100%;
    display: block;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 30px;
}
div.load-more button {
    height: 30px;
}