@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
    font-family: 'Ubuntu', sans-serif;
    min-width: 540px;
    min-height: 340px;
    padding-top: 50px;
    background-color: #E0E2E2;
    background-color: white;
}

a {
    font-family: Ubuntu, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

a:link {
    color:#4f9fcf;
}

a:visited {
    color:#4f9fcf;
}

.nav-bar {
    display: block;
    position: fixed;
    top: 0; right: 0; left: 0;
    background-color: black;
    width: 100%;
    height: 50px;
    line-height: 50px;
    z-index: 200;
}

.nav-bar a.link-profile img {
    width: 48px;
    height: 48px;
    border-radius: 50px 50px 50px 50px;
    border: solid 1px #aaa;
    float: left;
}

.nav-bar label {
    color: #ddd;
    font-size: 18px;
    margin-left: 10px;
}

.nav-bar label:hover {
    cursor: pointer;
}

.nav-bar a.link-home img {
    width: 24px;
    height: 24px;
    float: right;
    margin-top: 12px;
    margin-right: 10px;
}

.nav-bar a.link-likes img {
    width: 24px;
    height: 24px;
    float: right;
    margin-top: 12px;
    margin-right: 20px;
}

a.hashtag {
    font-weight: normal;
}

label.error {
    color: red;
    padding-top: 10px;
}

.my-nav {
    float: left;
    min-width: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    right: 0;
    top: 50px;
    opacity: 0.7;
    z-index: 300;
}

div.load-more {
    width: 100%;
    display: block;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 30px;
}