.header {
    margin-top: 10px;
    margin-left: 20px;
    line-height: 18px;
    vertical-align: middle;
    font-size: 18px;
    height: 100px;
}

.header>a {
    margin-right: 10px;
    float: left;
}

.header img {
    width: 85px;
    height: 85px;
    border: solid 2px #cecece;
}

.header>div {
    word-wrap: break-word;
    padding-top: 18px;
}

.header label.tag-search {
    line-height: 100px;
    color: rgb(0, 79, 179);
    font-size: 20px;
}

.header label.tag-search.query {
    color: rgb(23, 144, 213);
    font-weight: bold;
}

.tags {
    margin-top: 0;
    margin-left: 20px;
}

.tag {
    float: left;
    width: 500px;
    height: 40px;
    margin-bottom: 10px;
    line-height: 40px;
}

.tag:hover {
    background-color: #cecece;
}

.tag:after {
    content: '\a';
}

.tag a {
    text-decoration: none;
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
}

.tag label {
    font-size: 14px;
}